.offer{
    background: url('../../images/offer.png') no-repeat center;
    height: 100vh;
    background-color: rgb(148, 37, 18);
    background-blend-mode:multiply;
    filter: opacity(0.9);
}
.offer-title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;
    font-family:'Lato';
}
.offer-title h1 span{
    color: red;
    
}
.offer-title h1{
    font-size: 5rem;
    
}
.offer-title .this-summer{
    margin-top:-50px;
}
.offer-title button{
    background: red;
    border: none;
    width: 160px;
    height: 50px;
    color: white;
}
.offer-title button:hover{
    background-color: transparent;
    transition: all ease 0.5s;
    color: #ffffff;
    border: 1px solid #FF1414;
}


@media only screen and (max-width: 768px){
    .offer-title h3{
        font-size: 1rem;
    }
    .offer-title h1{
        font-size: 2rem;
        
    }
    .offer-title button{
        width: 100px;
        height: 40px;

    }
    .offer-title .this-summer{
        margin-top:-25px;
    }
}